.header-text-color {
  filter: invert(100%) sepia(77%) saturate(5056%) hue-rotate(180deg)
    brightness(96%) contrast(110%);
}

.bridge-color {
    filter: invert(40%) sepia(6%) saturate(4284%) hue-rotate(161deg)
    brightness(104%) contrast(97%);
}

.bird-instruments-color {
  filter: brightness(0) saturate(100%) invert(29%) sepia(29%) saturate(4467%) hue-rotate(194deg) brightness(90%) contrast(108%);
}

.zombie-hand-color {
  
}

.chansel-bg {
  min-width: 100%;
  max-width: 100vw;
}